body {
  background-color: #ECECEC;
}
.div-hover {
  min-width: 250px;
  padding: 5%;
  box-sizing: border-box;
  transition: all 1s ease;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.div-hover:hover {
  -webkit-box-shadow: 11px 18px 23px -2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 11px 18px 23px -2px rgba(0, 0, 0, 0.61);
  box-shadow: 11px 18px 23px -2px rgba(0, 0, 0, 0.61);
}
.tabs-container {
}
.tab {
  width: 100%;
  transition: all 1s ease;
}
.tab-links{
  max-width:600px !important;
}
.tab-links button {
  border: 1px solid #2980b9;
  margin: 5%;
  height: 75px;
  width:125px;
  transition: all .8s ease;
  background-color: transparent;
  color:#2980b9;
  font-size: 25px;

}
.tab-links button:hover {
  background-color: #2980b9;
  color: white;

}
img {
  width:100%;
  max-width: 300px;
}
.center{
  margin: 0 auto;
}
